<h1>Edit Tool Assignments</h1>
<%= link_to "Back", :back %>
<%= form_with model: @assigned_tool do |form| %>
  <div>
    <%form.label "Project Name"%>
    <%form.collection :project_id, @projects, :id, :customer_name, 
                               { prompt: "Choose a Project" }, { multiple: true } %>

    <%form.label "Tool Name"%>
    <%form.collection :tool_id, @tools, :id, :name, 
                               { prompt: "Choose a Tool" }, { multiple: true } %>


    <%form.label "Hours Worked Onsite"%>
    <%form.number_field :hours_onsite%>

    <%form.submit "Save Changes"%>
  </div>
<% end %>

