<div class="card">
  <h1>Edit Employee</h1>
  
  <%= render "form", employee: @employee %>
  
  <div style="margin-top: 1rem;">
    <%= link_to "View", @employee, class: "btn btn-secondary", style: "margin-right: 0.5rem;" %>
    <%= link_to "Back to Employees", employees_path, class: "btn btn-secondary" %>
  </div>
</div>
