<h1>Current Projects</h1>
<div>
  <table>
    <thead>
      <tr>
        <th>Customer Name</th>
        <th>Address</th>
        <th>Job Type</th>

      </tr>
    </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td> <%= project.customer_name%>
        <td> <%= project.address%>
        <td> <%= project.job_type%>
        <td> <%= link_to "More", controller: "projects", action: "project_index"%>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>